Repository optimagic-dev/optimagic: changes, and which pre-commit hooks are due for each by the changed paths.
All: doc8, restructuredtext-lint

.pre-commit-config.yaml:

exclude: >
    (?x)^(
        .pytest_cache |
        .tox
    )$
repos:
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v1.4.0
    hooks:
    -   id: reorder-python-imports
        types: [python]
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
    -   id: check-yaml
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.7.7
    hooks:
    -   id: flake8
        types: [python]
        additional_dependencies: [
            flake8-bugbear, flake8-builtins, flake8-comprehensions, flake8-docstrings,
            flake8-eradicate, flake8-print, flake8-rst-docstrings, flake8-todo,
            pep8-naming,
        ]
-   repo: https://github.com/asottile/blacken-docs
    rev: v0.5.0
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black]
        types: [rst]
-   repo: https://github.com/ambv/black
    rev: 19.3b0
    hooks:
    -   id: black
        types: [python]
-   repo: local
    hooks:
    -   id: doc8
        entry: doc8
        language: system
        types: [rst]
        name: doc8 - Lint the documentation.
    -   id: restructuredtext-lint
        entry: rst-lint
        language: system
        files: '(README.rst)'
        name: restructuredtext-lint - Is the README PyPi-compliant?
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
    # -   id: identity  # Prints all files passed to pre-commits. Debugging.

Prepare splitting-up of process_constraints.
  estimagic/optimization/optimize.py
  estimagic/optimization/process_constraints.py
  estimagic/optimization/reparametrize.py
Due: none

Split up process_constraints.py
  estimagic/optimization/check_constraints.py
  estimagic/optimization/process_constraints.py
Due: none

Make process_constraints more readable.
  estimagic/optimization/process_constraints.py
  estimagic/optimization/reparametrize.py
Due: none

fix documentation.
  docs/source/estimation.rst
  estimagic/optimization/reparametrize.py
Due: doc8

Added preliminary documentation.
  docs/source/conf.py
  docs/source/differentiation.rst
  docs/source/index.rst
  estimagic/differentiation/diff_auxiliary.py
  estimagic/differentiation/first_order_auxiliary.py
  estimagic/differentiation/gradient.py
  estimagic/differentiation/hessian.py
  estimagic/differentiation/jacobian.py
  estimagic/differentiation/second_order_auxiliary.py
Due: doc8

Finished documentation.
  docs/source/differentiation.rst
  estimagic/differentiation/first_order_auxiliary.py
  estimagic/differentiation/second_order_auxiliary.py
  estimagic/tests/examples/test_logit.py
Due: doc8

Test.
  estimagic/differentiation/gradient.py
  estimagic/differentiation/hessian.py
  estimagic/differentiation/jacobian.py
Due: none

Address comments.
  estimagic/optimization/optimize.py
  estimagic/optimization/process_constraints.py
  estimagic/optimization/reparametrize.py
Due: none

Some refactorings.
  estimagic/optimization/check_constraints.py
  estimagic/optimization/process_constraints.py
  estimagic/optimization/reparametrize.py
  estimagic/tests/optimization/fixtures/reparametrize_fixtures.csv
  estimagic/tests/optimization/test_reparametrize.py
Due: none

Add tests for start_params_helper functions and fix bugs.
  estimagic/optimization/reparametrize.py
  estimagic/tests/optimization/test_reparametrize.py
Due: none

Catch pandas PerformanceWarning in tests.
  estimagic/tests/optimization/test_reparametrize.py
Due: none

Set dashboard to False by default until it becomes more stable.
  estimagic/optimization/optimize.py
Due: none

Replace reference to params_df to just params.
  docs/source/estimation.rst
  estimagic/dashboard/convergence_tab.py
  estimagic/dashboard/dashboard.py
  estimagic/optimization/check_constraints.py
  estimagic/optimization/optimize.py
  estimagic/optimization/process_constraints.py
  estimagic/optimization/reparametrize.py
Due: doc8

Add more documentation to check_constraints.
  estimagic/optimization/check_constraints.py
Due: none

Make error message in check_no_overlapping_transforming_constraints nicer and code more readable.
  estimagic/optimization/check_constraints.py
Due: none

More flexible constraint specification (#23)
  docs/source/estimation.rst
  environment.yml
  estimagic/dashboard/convergence_tab.py
  estimagic/dashboard/dashboard.py
  estimagic/optimization/check_constraints.py
  estimagic/optimization/optimize.py
  estimagic/optimization/process_constraints.py
  estimagic/optimization/reparametrize.py
  estimagic/optimization/utilities.py
  estimagic/tests/optimization/fixtures/reparametrize_fixtures.csv
  estimagic/tests/optimization/test_process_constraints.py
  estimagic/tests/optimization/test_reparametrize.py
  estimagic/tests/optimization/test_utilities.py
  setup.py
  tox.ini
Due: doc8

Make start_params_helpers work with unprocessed constraints.
  estimagic/optimization/process_constraints.py
  estimagic/optimization/reparametrize.py
  estimagic/tests/optimization/test_reparametrize.py
  setup.py
Due: none

Move start helpers from reparametrize into their own module.
  estimagic/optimization/reparametrize.py
  estimagic/optimization/start_helpers.py
  estimagic/tests/optimization/test_reparametrize.py
  estimagic/tests/optimization/test_start_helpers.py
Due: none

Fix bug in start helpers.
  estimagic/optimization/start_helpers.py
Due: none

Two small bug fixes in optimize.py.
  estimagic/optimization/optimize.py
Due: none

Adjusted optimization results for the comparsion_plot and implemented comparison_plot with incomplete documentation.
  estimagic/optimization/optimize.py
  estimagic/visualization/comparison_plot.py
Due: none

Improve start helpers.
  estimagic/optimization/start_helpers.py
  estimagic/tests/optimization/test_start_helpers.py
Due: none

Imporved documentation of the comparison_plot.
  estimagic/visualization/comparison_plot.py
Due: none

Improve documenatation.
  estimagic/optimization/start_helpers.py
  estimagic/tests/optimization/test_start_helpers.py
Due: none

Different markers for different model classes and additional refactoring.
  estimagic/visualization/comparison_plot.py
Due: none

Fixed bug in optimize.py.
  estimagic/optimization/optimize.py
Due: none

No random color generation anymore.
  estimagic/visualization/comparison_plot.py
Due: none

Fix documentation.
  estimagic/optimization/start_helpers.py
Due: none

Skillmodels changes (#27)
  estimagic/optimization/optimize.py
  estimagic/optimization/process_constraints.py
  estimagic/optimization/reparametrize.py
  estimagic/optimization/start_helpers.py
  estimagic/tests/optimization/test_reparametrize.py
  estimagic/tests/optimization/test_start_helpers.py
  setup.py
Due: none

Fine tuning to have prettier plots.
  estimagic/visualization/comparison_plot.py
Due: none

Update readme.
  README.rst
Due: doc8, restructuredtext-lint

Update readme. (#29)
  README.rst
Due: doc8, restructuredtext-lint

Changed to numdifftools in gradient. Changed gradient test data to pandas Series.
  .envrc
  estimagic/differentiation/gradient.py
  estimagic/differentiation/hessian.py
  estimagic/differentiation/jacobian.py
  estimagic/tests/examples/logit_fixtures.pickle
  estimagic/tests/examples/test_logit.py
Due: none

Changed to numdifftools in jacobian. Changed test_data for jacobian from numpy array to DataFrame.
  estimagic/differentiation/jacobian.py
  estimagic/tests/examples/create test_data.py
  estimagic/tests/examples/logit_fixtures.pickle
  estimagic/tests/examples/test_logit.py
Due: none

Changed to numdifftools in hessian. Changed testdata of hessian to DataFrame. Inserted method check.
  estimagic/differentiation/gradient.py
  estimagic/differentiation/hessian.py
  estimagic/differentiation/jacobian.py
  estimagic/tests/examples/create test_data.py
  estimagic/tests/examples/logit_fixtures.pickle
  estimagic/tests/examples/test_logit.py
Due: none

Removed .orig files.
  environment.yml
  environment.yml.orig
  meta.yaml
  meta.yaml.orig
  tox.ini
  tox.ini.orig
Due: none

Changed test infrastructure.
  estimagic/tests/differentiation/diff_fixtures.pickle
  estimagic/tests/differentiation/test_gradient.py
  estimagic/tests/differentiation/test_hessian.py
  estimagic/tests/differentiation/test_jacobian.py
  estimagic/tests/examples/logit_fixtures.pickle
  estimagic/tests/examples/test_logit.py
Due: none

Fixed typo.
  estimagic/differentiation/gradient.py
  estimagic/differentiation/hessian.py
  estimagic/differentiation/jacobian.py
Due: none

Started documentation.
  docs/source/differentiation.rst
  estimagic/differentiation/first_order_auxiliary.py
  estimagic/differentiation/gradient.py
  estimagic/differentiation/hessian.py
  estimagic/differentiation/jacobian.py
  estimagic/differentiation/second_order_auxiliary.py
Due: doc8

Fixed flake8 issue.
  estimagic/examples/logit.py
Due: none
