Repository optimagic-dev/optimagic: changes, and which pre-commit hooks are due for each by the changed paths.
All: doc8, restructuredtext-lint

.pre-commit-config.yaml:

exclude: >
    (?x)^(
        .pytest_cache |
        .tox
    )$
repos:
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v1.4.0
    hooks:
    -   id: reorder-python-imports
        types: [python]
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
    -   id: check-yaml
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.7.7
    hooks:
    -   id: flake8
        types: [python]
        additional_dependencies: [
            flake8-bugbear, flake8-builtins, flake8-comprehensions, flake8-docstrings,
            flake8-eradicate, flake8-print, flake8-rst-docstrings, flake8-todo,
            pep8-naming,
        ]
-   repo: https://github.com/asottile/blacken-docs
    rev: v0.5.0
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black]
        types: [rst]
-   repo: https://github.com/ambv/black
    rev: 19.3b0
    hooks:
    -   id: black
        types: [python]
-   repo: local
    hooks:
    -   id: doc8
        entry: doc8
        language: system
        types: [rst]
        name: doc8 - Lint the documentation.
    -   id: restructuredtext-lint
        entry: rst-lint
        language: system
        files: '(README.rst)'
        name: restructuredtext-lint - Is the README PyPi-compliant?
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
    # -   id: identity  # Prints all files passed to pre-commits. Debugging.

Support MultiIndices in the params_df.
  estimagic/dashboard/convergence_tab.py
  estimagic/optimization/optimize.py
Due: none

Added hessian function. Not happy with accurancy. Only central difference working. No documentation.
  estimagic/differentiation/diff_auxiliary.py
  estimagic/differentiation/gradient.py
  estimagic/differentiation/hessian.py
  estimagic/differentiation/jacobian.py
  estimagic/tests/examples/test_logit.py
Due: none

Make less assumptions on params_df in dashboard.
  estimagic/dashboard/convergence_tab.py
  estimagic/optimization/optimize.py
  estimagic/optimization/utilities.py
Due: none

Add credits to readme.
  README.rst
Due: doc8, restructuredtext-lint

Update the documentation.
  docs/source/dashboard.rst
  docs/source/estimation.rst
  docs/source/index.rst
Due: doc8

Add that updates stop when optimization has finished (partially addresses #17).
  estimagic/dashboard/dashboard.py
  estimagic/dashboard/plotting_functions.py
  estimagic/optimization/optimize.py
Due: none

Add a dashboard with a convergence plot (#12)
  README.rst
  environment.yml
  estimagic/dashboard/convergence_tab.py
  estimagic/dashboard/dashboard.py
  estimagic/dashboard/plotting_functions.py
  estimagic/dashboard/server_functions.py
  estimagic/optimization/optimize.py
  estimagic/optimization/utilities.py
  tox.ini
Due: doc8, restructuredtext-lint

Set daemon to True such that the server thread is stopped when the optimization finishes. The browser tab maintains the available interactions.
  estimagic/optimization/optimize.py
Due: none

Add Hovertool to convergence plots.
  estimagic/dashboard/plotting_functions.py
Due: none

Add docstrings and restructure convergence_tab.
  estimagic/dashboard/convergence_tab.py
  estimagic/optimization/optimize.py
Due: none

Update documentation.
  docs/source/dashboard.rst
  docs/source/estimation.rst
  docs/source/index.rst
Due: doc8

Add Hovertools. Stop Server thread when minimization finishes. Style the convergence plots. Make minimization wait for the Bokeh Server to start.
  estimagic/dashboard/convergence_tab.py
  estimagic/dashboard/dashboard.py
  estimagic/dashboard/plotting_functions.py
  estimagic/dashboard/server_functions.py
  estimagic/optimization/optimize.py
Due: none

Automatic resizing of plots.
  estimagic/dashboard/convergence_tab.py
Due: none

Several fixes: minimize was broken with dashboard=False, color selection was broken with more than 20 parameters in one plot.
  estimagic/dashboard/convergence_tab.py
  estimagic/dashboard/plotting_functions.py
  estimagic/optimization/optimize.py
Due: none

Require bokeh 1.1 or newer.
  meta.yaml
Due: none

Should work again with single index. Put sleep in dashboard monitoring thread if queue has length zero.
  estimagic/dashboard/convergence_tab.py
  estimagic/dashboard/dashboard.py
  estimagic/optimization/optimize.py
  estimagic/optimization/utilities.py
Due: none

Various Dashboard Improvements (#20)
  docs/source/dashboard.rst
  docs/source/estimation.rst
  docs/source/index.rst
  estimagic/dashboard/convergence_tab.py
  estimagic/dashboard/dashboard.py
  estimagic/dashboard/plotting_functions.py
  estimagic/dashboard/server_functions.py
  estimagic/optimization/optimize.py
  estimagic/optimization/utilities.py
  meta.yaml
Due: doc8

Wrap scipy optimizers.
  environment.yml
  estimagic/optimization/algo_dict.json
  estimagic/optimization/optimize.py
  meta.yaml
Due: none

Add scipy as tox dependency.
  tox.ini
Due: none

Update docstring and explicitely handle the type of the function value of the optimization result.
  estimagic/optimization/optimize.py
Due: none

Wrap scipy optimizers. (#22)
  environment.yml
  estimagic/optimization/algo_dict.json
  estimagic/optimization/optimize.py
  meta.yaml
  tox.ini
Due: none

Update version number and environment file.
  environment.yml
  setup.py
Due: none

Added badges and turned of Todos on rtd.
  README.rst
  docs/source/conf.py
Due: doc8, restructuredtext-lint

Add pairwise_equality constraints.
  docs/source/estimation.rst
  estimagic/optimization/process_constraints.py
  estimagic/tests/optimization/test_process_constraints.py
Due: doc8

Updates to the documentation.
  docs/source/estimation.rst
Due: doc8

Specify fixed parameters only via constraints.
  docs/source/estimation.rst
  estimagic/optimization/optimize.py
  estimagic/optimization/process_constraints.py
  estimagic/optimization/reparametrize.py
  estimagic/tests/optimization/fixtures/reparametrize_fixtures.csv
  estimagic/tests/optimization/test_reparametrize.py
Due: doc8

Make value column mandatory in params_df.
  docs/source/estimation.rst
Due: doc8

Cleanup.
  estimagic/optimization/reparametrize.py
Due: none

Switch from varcorr to sdcorr.
  docs/source/estimation.rst
  estimagic/optimization/process_constraints.py
  estimagic/optimization/reparametrize.py
  estimagic/optimization/utilities.py
Due: doc8

sdcorr constraint works. More fine grained tests for reparametrize to and from internal.
  estimagic/optimization/process_constraints.py
  estimagic/optimization/reparametrize.py
  estimagic/optimization/utilities.py
  estimagic/tests/optimization/fixtures/reparametrize_fixtures.csv
  estimagic/tests/optimization/test_reparametrize.py
Due: none

Add test for optimization.utilities.
  estimagic/tests/optimization/test_utilities.py
Due: none

Make linters happy.
  estimagic/optimization/process_constraints.py
  tox.ini
Due: none

Add appveyor badge.
  README.rst
Due: doc8, restructuredtext-lint

Always build master in travis.
  .travis.yml
Due: none

Make documentation ready for readthedocs and small improvements to README.rst (#24)
  .travis.yml
  README.rst
  docs/source/conf.py
Due: doc8, restructuredtext-lint

Finished Code. Documentation missing.
  .envrc
  estimagic/differentiation/diff_auxiliary.py
  estimagic/differentiation/gradient.py
  estimagic/differentiation/hessian.py
  estimagic/differentiation/jacobian.py
  estimagic/tests/examples/test_logit.py
Due: none

All conflicts resolved.
  environment.yml.orig
  meta.yaml.orig
  tox.ini.orig
Due: none

Separate fixed parameters further from params_df.
  estimagic/optimization/process_constraints.py
  estimagic/optimization/reparametrize.py
  estimagic/tests/optimization/test_reparametrize.py
  tox.ini
Due: none

Remove possibility to fix parameters by equal lower and upper bound.
  estimagic/optimization/process_constraints.py
  estimagic/optimization/reparametrize.py
Due: none

All test pass after major changes to reparametrize and constraints processing.
  docs/source/estimation.rst
  estimagic/optimization/optimize.py
  estimagic/optimization/process_constraints.py
  estimagic/optimization/reparametrize.py
  estimagic/tests/optimization/fixtures/reparametrize_fixtures.csv
  estimagic/tests/optimization/test_process_constraints.py
  estimagic/tests/optimization/test_reparametrize.py
Due: doc8
