Repository optimagic-dev/optimagic: changes, and which pre-commit hooks are due for each by the changed paths.
All: doc8, restructuredtext-lint

doc8:
  entry: doc8
  language: system
  name: doc8 - Lint the documentation.

restructuredtext-lint:
  entry: rst-lint
  language: system
  name: restructuredtext-lint - Is the README PyPi-compliant?

Added documentation.
  docs/source/differentiation.rst
  estimagic/differentiation/hessian.py
Due: doc8

Added numdifftools version condition to meta.yaml and envoirement.yml.
  environment.yml
  meta.yaml
Due: none

Added forward, backward and central finite differences.
  estimagic/differentiation/first_order_auxiliary.py
Due: none

Added non richardson extrapolation method to hessian function. Also added test.
  estimagic/differentiation/gradient.py
  estimagic/differentiation/hessian.py
  estimagic/tests/differentiation/test_hessian.py
Due: none

Added non richardson finite difference method. Adjusted tests.
  estimagic/differentiation/gradient.py
  estimagic/differentiation/hessian.py
  estimagic/tests/differentiation/test_gradient.py
  estimagic/tests/differentiation/test_hessian.py
Due: none

Added non richardson option for jacobain matrix. Adjusted tests.
  estimagic/differentiation/jacobian.py
  estimagic/tests/differentiation/test_jacobian.py
Due: none

Added amd adjusted docstrings.
  estimagic/differentiation/first_order_auxiliary.py
  estimagic/differentiation/gradient.py
  estimagic/differentiation/hessian.py
  estimagic/differentiation/jacobian.py
Due: none

Changed some documentation.
  docs/source/differentiation.rst
Due: doc8

Changed from string to boolean for specifing extrapolation. Also adjusted tests.
  estimagic/differentiation/gradient.py
  estimagic/differentiation/hessian.py
  estimagic/differentiation/jacobian.py
  estimagic/tests/differentiation/test_gradient.py
  estimagic/tests/differentiation/test_hessian.py
  estimagic/tests/differentiation/test_jacobian.py
Due: none

Replaced if condotions for the finte difference functions with getattr().
  estimagic/differentiation/first_order_auxiliary.py
  estimagic/differentiation/gradient.py
  estimagic/differentiation/hessian.py
  estimagic/differentiation/jacobian.py
Due: none

Adjusted documentation.
  docs/source/differentiation.rst
Due: doc8

Replace travis and appveyor by azure.
  .appveyor.yml
  .azure-pipelines.yml
  .travis.yml
  README.rst
Due: doc8, restructuredtext-lint

Move testing to Azure Pipelines. (#31)
  .appveyor.yml
  .azure-pipelines.yml
  .travis.yml
  README.rst
Due: doc8, restructuredtext-lint

Add tools for numerical differentiation. (#16)
  docs/source/conf.py
  docs/source/differentiation.rst
  docs/source/index.rst
  environment.yml
  estimagic/differentiation/first_order_auxiliary.py
  estimagic/differentiation/gradient.py
  estimagic/differentiation/hessian.py
  estimagic/differentiation/jacobian.py
  estimagic/examples/__init__.py
  estimagic/examples/logit.py
  estimagic/tests/differentiation/diff_fixtures.pickle
  estimagic/tests/differentiation/test_gradient.py
  estimagic/tests/differentiation/test_hessian.py
  estimagic/tests/differentiation/test_jacobian.py
  estimagic/tests/examples/__init__.py
  estimagic/tests/examples/logit_fixtures.pickle
  estimagic/tests/examples/test_logit.py
  meta.yaml
  tox.ini
Due: doc8

algo_options are passed down to scipy_minimize.
  estimagic/optimization/optimize.py
Due: none

If you request an invalid algo, estimagic gives you three proposals.
  environment.yml
  estimagic/optimization/optimize.py
  estimagic/optimization/utilities.py
  meta.yaml
Due: none

Missed fuzzywuzzy in tox.
  tox.ini
Due: none

Added docstring and doctest.
  estimagic/optimization/utilities.py
Due: none

algo_options are passed down to scipy_minimize. (#32)
  estimagic/optimization/optimize.py
Due: none

Propose algorithms if an invalid algo is requested (#33)
  environment.yml
  estimagic/optimization/optimize.py
  estimagic/optimization/utilities.py
  meta.yaml
  tox.ini
Due: none

I have encorporated functions that calculate covariance matrices and their tests into the inference folders.
  estimagic/inference/likelihood_covs.py
  estimagic/tests/inference/fixtures/logit_hessian.pickle
  estimagic/tests/inference/fixtures/logit_hessian_matrix.pickle
  estimagic/tests/inference/fixtures/logit_jacobian.pickle
  estimagic/tests/inference/fixtures/logit_jacobian_matrix.pickle
  estimagic/tests/inference/fixtures/logit_sandwich.pickle
  estimagic/tests/inference/fixtures/probit_hessian.pickle
  estimagic/tests/inference/fixtures/probit_hessian_matrix.pickle
  estimagic/tests/inference/fixtures/probit_jacobian.pickle
  estimagic/tests/inference/fixtures/probit_jacobian_matrix.pickle
  estimagic/tests/inference/fixtures/probit_sandwich.pickle
  estimagic/tests/inference/test_likelihood_covs.py
Due: none

replace relative path with absolute path.
  estimagic/tests/inference/test_likelihood_covs.py
Due: none

Relax assert in probability constraints and fix bounds for scipy.
  estimagic/optimization/optimize.py
  estimagic/optimization/reparametrize.py
Due: none

Fix sort warning in concat.
  estimagic/optimization/start_helpers.py
Due: none

Add robust bounds to covariance.
  estimagic/optimization/process_constraints.py
  estimagic/optimization/reparametrize.py
Due: none

Make hovertools in dashboard more useful.
  estimagic/dashboard/plotting_functions.py
Due: none

First element of a cov matrix can be fixed to 1.
  estimagic/optimization/process_constraints.py
  estimagic/optimization/reparametrize.py
  estimagic/tests/optimization/fixtures/reparametrize_fixtures.csv
  estimagic/tests/optimization/test_reparametrize.py
  setup.py
Due: none

Rename cov_case 'all_free' to 'free'.
  estimagic/optimization/process_constraints.py
  estimagic/optimization/reparametrize.py
Due: none

Now first cov or sdcorr entry can be fixed to any value.
  estimagic/optimization/process_constraints.py
  estimagic/optimization/reparametrize.py
  estimagic/tests/optimization/fixtures/reparametrize_fixtures.csv
  estimagic/tests/optimization/test_reparametrize.py
Due: none

Add documentation for the new options.
  docs/source/estimation.rst
Due: doc8

Fix linting.
  environment.yml
  estimagic/optimization/reparametrize.py
  tox.ini
Due: none

Fix linting.
  .pre-commit-config.yaml
  environment.yml
  tox.ini
Due: none

Fixed typo in gradient function.
  estimagic/differentiation/gradient.py
Due: none

Created tests which detect the error in all three functions.
  estimagic/tests/differentiation/test_gradient.py
  estimagic/tests/differentiation/test_hessian.py
  estimagic/tests/differentiation/test_jacobian.py
Due: none

Exclude macos from testing.
  .azure-pipelines.yml
Due: none

More skillmodels fixes (#35)
  .azure-pipelines.yml
  .pre-commit-config.yaml
  docs/source/estimation.rst
  estimagic/dashboard/plotting_functions.py
  estimagic/optimization/optimize.py
  estimagic/optimization/process_constraints.py
  estimagic/optimization/reparametrize.py
  estimagic/optimization/start_helpers.py
  estimagic/tests/optimization/fixtures/reparametrize_fixtures.csv
  estimagic/tests/optimization/test_reparametrize.py
  setup.py
Due: doc8

Encorporates covariance matrix functions and tests (#34)
  estimagic/inference/likelihood_covs.py
  estimagic/tests/inference/fixtures/logit_hessian.pickle
  estimagic/tests/inference/fixtures/logit_hessian_matrix.pickle
  estimagic/tests/inference/fixtures/logit_jacobian.pickle
  estimagic/tests/inference/fixtures/logit_jacobian_matrix.pickle
  estimagic/tests/inference/fixtures/logit_sandwich.pickle
  estimagic/tests/inference/fixtures/probit_hessian.pickle
  estimagic/tests/inference/fixtures/probit_hessian_matrix.pickle
  estimagic/tests/inference/fixtures/probit_jacobian.pickle
  estimagic/tests/inference/fixtures/probit_jacobian_matrix.pickle
  estimagic/tests/inference/fixtures/probit_sandwich.pickle
  estimagic/tests/inference/test_likelihood_covs.py
Due: none

Automatically find and use a free port for the dashboard.
  estimagic/dashboard/server_functions.py
  estimagic/optimization/optimize.py
Due: none

Allow user to specify the port in the db_options.
  estimagic/optimization/optimize.py
Due: none

Move port handling to more appropriate place in the code.
  estimagic/dashboard/dashboard.py
  estimagic/dashboard/server_functions.py
  estimagic/optimization/optimize.py
Due: none

Path conditions:
  doc8: any of: \.rst$, but not: (?x)^(
    .pytest_cache |
    .tox
)$

  restructuredtext-lint: any of: (README.rst), but not: (?x)^(
    .pytest_cache |
    .tox
)$

